.images{ 
    display:flex;
    transition:transform 0.5s;
   }
.window{
    width:400px; 
    height:400px;
    overflow:hidden;
    border:1px solid black; 
    margin:20px auto;
   }
   .buttons{
       text-align: center;
   }
   .controls{
       text-align: center;
       margin-top:5px;
   }